@model IList<DagBok.ViewModels.InläggIndexModel>

@{
    ViewData["Title"] = "Default";
}





<table id="EntryList" >
                <thead>
                @*  <tr id="TableHeadRow">
                            <th>
                                @Html.DisplayNameFor(model => model.Datum)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Innehåll)
                            </th>
                            <th></th>
                        </tr>*@
                </thead>
    <tbody>

    
    
    
    

            @foreach (var item in Model)
            {
                <tr>
                    <td class="datum-text">
                        <p> @Html.DisplayFor(modelItem => item.Datum)</p>
                        <p class="login-email"> @Html.DisplayFor(modelItem => item.User.Email)</p>
                    </td>
                
                    <td>
                        @Html.DisplayFor(modelItem => item.Innehåll)
                    </td>
                   
                
                    </tr>
            }

                 @*   <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>*@
                
           
    </tbody>
</table>